/* général */ 
.body {
    font-size: 14px;
    line-height: 21px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    color: $black;
    @include between {
        font-size: 14px;
    }
}

h1:hover {
    color: $red001;
    cursor: pointer;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: $red001;
    font-size: 12px;
    font-weight: 700;  
    @include between {
        font-size: 11px;
    }
}

h3 {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 1.3;
    color: $black;
}

h3:hover {
    color: $red001;
    cursor: pointer;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    color: $black
}

h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    line-height: 1.3;
    color:white;
    letter-spacing: -0.5px
}

p {
    color: $black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1.6;
}


