/* le header */ 

.wrap-head {
    max-width: 1200px;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:25px;
    position: relative;
    @include responsive {
        display: block;
        margin: 0 auto;
    }
    .gossip {
        background-color: $red001;
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
        padding: 5px 30px;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include responsive {
            max-width: 100vw;
            padding: 10px 0;
        }
        span {
            display: flex;
            justify-content: center;
        }
        span:last-of-type {
            @include responsive {
                display: none;
            }
        }
    }
    .ind-fix {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
        @include responsive {
            display: block;
        }
        .time-meteo {
            @include responsive {
                display: none;
                
            }
        }
        .time-meteo > * {
            padding-right: 2px;
        }
        .date {
            @include responsive {
                display: none;
            }
        }
        .join {
            @include responsive {
                display: none;
                .sing-in:hover {
                    color: $red001;
                    cursor: pointer;
                }
            }
        }
        .search-bar {
            position: absolute;
            right:0;
            background-color: $gray;
            @include responsive {
                position: relative;
            }
            input {
                border: none;
                background-color: transparent;
                padding:5px;
                width:150px;
                @include responsive {
                    display: none;
                }
            }
            button {
                border:none;
                background-color: transparent;
                @include responsive {
                    max-width:100%;
                    position: absolute;
                    right:32px;
                    top: -42px;
                    font-size: 150%;
                    color: white;
                }
            }
        }
    }
    .ind-fix > * {
        padding: 0 5px;
    }
    .news-paper {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        width:100%;
        display: grid;
        align-items: end;
        @include responsive {
            display: none;
        }
    }
    .container {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
        position: relative;
        @include responsive {
            display: none;
        }
        .image {
            width:100%;
            position: relative;
            img {    
                width: 100%;
                display: block;
                height: 133px;
                object-fit: cover;
                filter: brightness(70%);
            }
        }
        .text-div {
            max-width:100%;
            text-transform: uppercase;
            position: absolute;
            bottom: 0px;
            left: 5px;
            padding:5px;
            .btn-rouge {
                font-size: 12px;
                padding: 5px;
            }
            h5 {
                font-size: 13px;
                margin:5px 0 0;
            }
        }
    }
}

/* le burger menu */ 

.burger-menu {
    overflow: hidden;
    @include responsive {
        overflow: visible;
        position: absolute;
        top:9px;
        left:18px;
        width: 40px;
        height: 40px;
        cursor:pointer;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        transition:.5s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index:15;
        span {
            width: 70%;
            height: 3px;
            border-radius:1px;
            background:#fff;
            margin:2px 0;
            transition:.3s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }
}

.burger-menu.active {
    border-color:skyblue;
    transform:rotate(180deg);
}

/* la navigation */ 

@include responsive { 
    .wrapper-nav.active {
        left:0;
        border:none;
        min-height:100%;
        position: absolute;
        z-index: 100;
        top:0;
        width:100%;
        background: url(../img/46.jpg) center/cover;
        transition: transform .5s cubic-bezier(.79,.14,.15,.86);
        .navigation {
            height:100%;
            flex-direction: column;
            flex-wrap: wrap;
            padding-left: 30px;
            padding-top: 80px;
            background: linear-gradient(to bottom, rgba(73,46,81,0.8) 0%, rgba(221,33,33,0.5) 100%);
            transition: transform .5s cubic-bezier(.79,.14,.15,.86);
            a {
                color:white;
                font-size: 21px;
                padding: 12px 30px 12px 12px;
                font-weight: 700;
                line-height: 21px;
                text-transform: none;
            }
            a:hover {
                background-color:transparent
            }
            a:last-of-type {
                display: none;
            }
            .close-window {
                display: block;
                position: absolute;
                color: white;
                right: 33px;
                top:15px;
                cursor: pointer;
            }
            .close-window:hover {
                color: $orange;
            }
        }
    }
}

.wrapper-nav {
    max-width: 100%;
    border-top: 1px solid $lightgray;
    border-bottom: 1px solid $lightgray;
    margin-top: 40px;
    position: relative;
    @include responsive {
        left:-3000px;
        margin:0;
        height:0px;
    }
    .navigation {
        display: flex;
        justify-content: left;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        @include responsive {
            height:0px;
        }
        a {
            padding: 15px 15px 16px 15px;
        }
        a:last-of-type {
            position: absolute;
            right:0;
            span {
                color: $red001;
            }
        }
        a:hover {
            background-color: black;
            color:white;
        }
        .close-window {
            display: none;
        }
    }
    
}


/* première grille */ 

.wrapper {
    max-width:1200px;
    margin: 50px auto;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: space-between;
    @include bigscreen {
        padding: 0 20px;
    }
    @include responsive {
        display:flex;
        flex-direction: column;
        max-width: 100%;
        margin: 25px auto;
    }
    .container {
        border: 1px solid $lightgray;
        .image {
            width:100%;
            position: relative;
            img {    
                width: 100%;
                display: block;
                height: 215px;
                object-fit: cover;
                @include between {
                    height: 190px;
                }
                @include responsive {
                    height:100%;
                    display: inline-block;
                }
            }
        }
        .text-div {
            padding: 10px 40px;
            width:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-transform: uppercase;
        }
    }
    .container:nth-of-type(1) {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        img {
            height:450px;
            @include between {
                height: 370px;
            }
            @include responsive {
                height:100%;
            }
        }
    }
    .container:nth-of-type(2) {
        grid-column: 3 / span 2;
        grid-row: 1;
    }
    .container:nth-of-type(3) {
        grid-column: 5 / span 2;
        grid-row: 1;
    }
    .container:nth-of-type(4) {
        grid-row: 2;
        grid-column: 3 / span 4;
        display: flex;
        @include responsive {
            flex-direction: column;
        }
        img {
            height:215px;  
            @include between {
                height: 180px;
            } 
            @include responsive {
                height:100%;
            }
        }
        .text-div {
            width: 120%;
            @include responsive {
                width:100%;
            }
        } 
    }
}

/* bloc news */

.wrapper-news {
    margin: 0 auto 50px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    .gray {
        background-color: $gray;
        padding-left: 30px;
        display:flex;
        flex-direction: row;
        max-width: 988px;
        height:60px;
        align-items: center;
        @include responsive {
            max-width:90%;
            flex-wrap:wrap;
            justify-content: center;
            height:100%;
            padding-top: 20px;
        }
        .swiper-container {
            display: flex;
            flex-direction: row;
            position: relative;
            align-items: center;
            .swiper-wrapper {
                width:100%;
                .swiper-slide {
                    width: 100%!important;
                    display: flex;
                    align-items: center;
                    h1 {
                        width: 740px;
                        padding-left: 20px;
                        color: $black;
                        font-size: 16px;
                        font-weight: 500;
                        font-family: 'Oswald', sans-serif;
                        line-height: 2;
                        margin:0
                    }
                    @include responsive {
                        text-align: center;
                    }
                }
            }
            .buttons {
                position: relative;
                right:0;
                display: flex;
                .swiper-button-prev, .swiper-button-next {
                    border: 1px solid $gray001;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 50%;
                    transform: translate(-50%, 38%);
                }
                .swiper-button-prev:hover, .swiper-button-next:hover {
                    background-color: $red001;
                    border: none;
                }
                .swiper-button-prev {
                    left: -60px;
                }
                .swiper-button-next {
                    right: 0px;
                }
            }
        }
        
    }
    img {
        max-width: 100%;
        @include responsive {
            max-width: 90%;
        }     
    }
}

/* deuxième grille */ 

.trending {
    position: relative;
    max-width:1200px;
    margin: 0 auto 50px;
    @include bigscreen {
        padding: 0 20px;
    }
    .wrapper-popular {
        max-width:820px;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        @include responsive {
            display: flex;
            max-width: 100%;
            flex-direction: column;
        }
        .container {
            text-transform: uppercase;
            width: 280px;
            @include responsive{
                width:100%;
            }
            .image {
                width: 100%;
                position: relative;
                img {
                    width: 100%;
                    display: block;
                    height: 400px;
                    object-fit: cover;
                }
            }
            .text-blanc {
                background-color: white;
                position: absolute;
                max-width:250px;
                top: 210px;
                padding: 0 10px 0 15px;
                display: flex;
                flex-direction: column;
                align-content: center;
                @include between {
                    max-width:230px;
                    top: 260px;
                }
                @include responsive{
                    max-width:70%;
                    top: 270px;
                }
                @include myscreen{
                    max-width:90%;
                    top: 250px;
                }
                h1 { 
                    margin-top: 0
                }
            }
        }
        .container:nth-of-type(1) {
            box-shadow: 0 3px 12px rgba(0,0,0,15%);
            background-color: white;
            span {
                width: 110px;
                
            }
            .titre-barre {
                h4 {
                    margin-left: 15px;
                }
            }
            .text-div {
                padding-top: 20px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-content: center;
            }
            .image { 
                img {
                    height:150px;
                    @include responsive{
                        height:100%;
                    }
                }
            }
        }            
    }
    .container:nth-of-type(10) {
        position: sticky;
        align-self: start;
        top:0;
        grid-row: 1 / span 3;
        grid-column: 4 / span 1;
        @include responsive {
            position: relative;
            width: 280px;
            width:100%
        }
        img {    
            width: 100%;
            display: block;
            object-fit: cover;
            @include responsive {
                max-width: 60%;
                margin: 0 auto;
            }
        }
        .must-read {
            width: 100%;
            margin-bottom: 15px;
            border: 1px solid $lightgray;
            display:flex;
            flex-direction: row;
            align-items: center;
            text-transform: uppercase;
            .image {
                width:30%;
                position: relative;
                img {    
                    width: 100%;
                    display: block;
                    height: 125px;
                    object-fit: cover;
                    @include responsive {
                        height:300px;
                    }
                }
            }
            .text-sticky {
                text-align: left;
                width:70%;
                padding: 0 7px;
                @include responsive {
                    padding:0 20px;
                }
            }
        }
        .blue {
            background-color: $blue;
            padding: 30px 20px 30px;
            margin-top:30px;
            font-family: 'Montserrat', sans-serif;
            h4 {
                text-transform: uppercase;
                margin: 0px 0 10px;
            }
            .email {
                border:none;
                padding:10px 10px 10px; 
                width: 100%;
                font-size: 12px;
            }
            .my-btn {
                color: white;
                background-color: $red001;
                padding:10px 10px 10px; 
                width: 100%;
                margin-top:15px;
                text-transform: uppercase;
                line-height: 21px;
                text-align: center;
                cursor: pointer;
                font-weight: 400;
                font-size: 12px;
            }
            .my-btn:hover {
                background-color: $black;
            }
        }
    }
}

/* troisieme grille */ 

.wrapper-big-article {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width:1200px;
    margin: 0 auto;
    .container {
        position:relative;
        width:100%;
        .image {
            width: 100%;
            height:80%;
            img {    
                width: 100%;
                display: block;
                height: 100%;
                object-fit: cover;
                filter: brightness(70%);
            }
        }
        .text-int {
            position: absolute;
            bottom: 30px;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            padding: 0 15px;
            h5 {
                text-align: center;
                margin: 20px 0;
            }
        }
    }
}

/* lastest grille */ 

.wrapper-lastest {
    max-width:1200px;
    margin: 20px auto 50px;
    text-transform: uppercase;
    .grid-last {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        .container {
            border: 1px solid $lightgray;
            .image {
                height:200px;
                img {    
                    width: 100%;
                    display: block;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .text-div {
                padding: 5px 10px 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}